button {
    width: 100px;
    height: 45px;
    color: white;
    background-color: blue;
    border: 3px solid blue;
}
header {
    background-color: azure;
    height: 10%;
}
footer {
    background-color: grey;
    height: 5%;
}
section {
    height: 85%;
}